@using System.IO

@{
Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Webpack App</title>

    
</head>

<body>
    <h1>TADA!</h1>
	<p>If you didn't see a popup, it didn't work</p>
	<h2>Expected</h2>
	<ol>
	
	    <li>/dist/index.ca42e446f51ed67894fe.bundle.js</li>
    
    </ol>

	<h2>Actual</h2>
	<ol>
	    @{
	        foreach (var file in Directory.GetFiles("./wwwroot/dist"))
	        {
	            <li>@file</li>
	        }
	    }
    </ol>

	
    <script src="/dist/index.ca42e446f51ed67894fe.bundle.js"></script>
    

    
</body>

</html>